// color
$primary: #00cc99;
$primary-light: #009872;
$primary-dark: #00644b;
$white: #ffffff;
$black: #000000;
$gray: #f7f7f7;
$gray-dark: #c4c4c4;
$red: #e54991;
$blue-fb: #3b5998;
$blue-twitter: #00acee;
//font
$sans-font: -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang TC", "Noto Sans TC", "Microsoft JhengHei", sans-serif;
//fontSize
$fontSize: 16px;
$fontSize-xl: $fontSize*2.25;
$fontSize-l: $fontSize*1.5;
$fontSize-m: $fontSize*1.125;
//fontWeight
$fontWeight: 300;
$fontWeight-m: 500;
//lineHeight
$lineHeight: 1.5;
//spacing
$spacing: 10px;
$spacing-s: $spacing*0.5;
$spacing-m: $spacing*2;
$spacing-l: $spacing*3;
$spacing-xl: $spacing*6;